.navbar
  .search-box
    height calc(2rem + 4px)
    margin-right 0px
    padding-right 0px

    input
      margin-top 1px
      margin-bottom 1px
      border-color transparent
      border-radius 0.25em
      background-color var(--feature-bgcolor)

      @media (min-width $MQNormal)
        width 7rem

      @media (min-width $MQNarrow)
        width 5rem

      .has-sidebar &
        @media (max-width $MQNarrow)
          width 0

      &:focus
        width 11rem
        border-color transparent
        background-color #cfdefa

        @media (max-width $MQWide - 1)
          width 5rem
        
        @media (max-width 768px)
          width 3rem

        @media (max-width $MQMobile)
          width 11rem

      @media (max-width $MQNarrow)
        left 0
        background-color transparent

      .theme-dark &
        color var(--text-color)
        background-color transparent

        @media (min-width $MQNarrow)
          background-color lighten($darkBgColor, 10%) !important
          border-color var(--border-color)

        &:focus
          background-color lighten($darkBgColor, 10%) !important

    .theme-dark &
      .suggestion
        a
          color darken($darkTextColor, 35%)

        &.focused
          background #0c0b0a

          a
            color var(--accent-color)
            border-color var(--accent-color)

      .suggestions
        border-color var(--border-color)
        background var(--white)

  #docsearch button
    background-color transparent
    border-color transparent
    border-radius 0.25em

    .mobile &
      left 0
      background-color transparent

    @media (min-width $MQNarrow)
      background-color #efeef4

    &:focus
      background-color var(--bgcolor)
      border-color var(--accent-color)

    .theme-dark &
      color var(--text-color)

      @media (min-width $MQNarrow)
        background-color lighten($darkBgColor, 10%) !important
        border-color var(--border-color)

      &:focus
        background-color lighten($darkBgColor, 10%) !important
