# Copyright (c) 2019, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
#
# WSO2 Inc. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.

# Project information
site_name: WSO2 APK Documentation
site_description: Documentation for WSO2 API Platform for Kubernetes
site_author: WSO2
site_url: https://dev.apk.docs.wso2.com/en/latest/
#In the production doc, add the following instead of the above:
#site_url: https://apk.docs.wso2.com/en/latest/

# Repository
repo_name: wso2/docs-apk
repo_url: https://github.com/wso2/docs-apk
edit_uri: https://github.com/wso2/docs-apk/edit/1.1.0/en/docs/

# Copyright
copyright: WSO2 API Platform for Kubernetes - Documentation

# Configuration

theme:
  name: material
  palette:
    primary: default
  custom_dir: theme/material
  logo: images/logo.svg
  highlightjs: true
  feature:
    tabs: true
  language: 'en'


# Extensions
markdown_extensions:
    - fenced_code
    - codehilite
    
# Customization
extra_css:
  - assets/lib/highlightjs/default.min.css
  - assets/css/theme.css
  - assets/css/versions.css
  - assets/css/blue-palette-alt1.css
extra_javascript:
  - assets/lib/highlightjs/highlight.min.js
  - assets/js/theme.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/wso2
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/wso2
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/wso2
  site_version: versions
