Pygments==2.14.0
mkdocs-material==9.1.2
pymdown-extensions==9.10
mkdocs-minify-plugin==0.6.2
mkdocs-markdownextradata-plugin==0.2.5
mkdocs-redirects==1.2.0
pathlib==1.0.1
markdown-include==0.8.1
markdown==3.2.1
mkdocs-exclude==1.0.2
jinja2==3.1.2


pip3.10 install mkdocs==1.4.2
pip3.10 install Pygments==2.14.0
pip3.10 install mkdocs-material==9.1.2
pip3.10 install pymdown-extensions==9.10
pip3.10 install mkdocs-minify-plugin==0.6.2
pip3.10 install mkdocs-markdownextradata-plugin==0.2.5
pip3.10 install mkdocs-redirects==1.2.0
pip3.10 install pathlib==1.0.1
pip3.10 install markdown-include==0.8.1
pip3.10 install markdown==3.2.1
pip3.10 install mkdocs-exclude==1.0.2
pip3.10 install jinja2==3.1.2