/* basic color */
$accentColor ?= #3eaf7c
$textColor ?= #2c3e50
$textColorLight ?= #656565
$darkTextColor ?= #eee
$darkTextColorLight ?= #b7b7b7
$bgColor ?= #fff
$darkBgColor ?= #212a32
$bgColorLight ?= #f8f8f8
$darkBgColorLight ?= #272727
$bgColorBlur ?= rgba(255, 255, 255, 0.9)
$darkBgColorBlur ?= rgba(30, 30, 30, 0.9)
$borderColor ?= #eaecef
$darkBorderColor ?= #414141
$codeBgLightColor ?= #f8f8f8
$darkCodeBgColor ?= #282c34
$arrowBgColor ?= #ccc
$darkArrowBgColor ?= #333
/* colors provided by theme */
$boxShadowColor ?= #f0f1f2
$darkBoxShadowColor ?= #0f0e0d
$cardShadowColor ?= rgba(0, 0, 0, 0.15)
$darkCardShadowColor ?= rgba(0, 0, 0, 0.3)
/* * theme-color */
$colorPicker ?= {
  red: #e74c3c,
  blue: #3498db,
  green: #3eaf7c,
  orange: #f39c12,
  purple: #8e44ad
}
/* badge color */
$badgeTipColor ?= #42b983
$badgeWarningColor ?= darken(#ffe564, 35%)
$badgeErrorColor ?= #DA5961
/* layout */
$navbarHeight ?= 3.6rem
$navbarMobileHeight ?= 3.25rem
$navbarHorizontalPadding ?= 10rem
$navbarMobileHorizontalPadding ?= 1rem
$navbarVerticalPadding ?= 0.7rem
$navbarMobileVerticalPadding ?= 0.5rem
$sidebarWidth ?= 18rem
$mobileSidebarWidth ?= $sidebarWidth
$contentWidth ?= 740px
$homePageWidth ?= 960px
/* responsive breakpoints */
$MQWide ?= 1440px // wide screen
$MQNormal ?= 1680px // desktop
$MQNarrow ?= 959px // narrow desktop / iPad
$MQMobile ?= 719px // wide mobile
$MQMobileNarrow ?= 419px // narrow mobile
/* code block */
$lineNumbersWrapperWidth ?= 2.5rem
$codeLang ?= js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
/* content class */
$contentClass ?= '.theme-default-content'
/* banner component */
$bannerBgColor ?= #D7E2DE
$darkBannerBgColor ?= #373737
/* home component */
$featureBgColor ?= #F5F6F6
$darkFeatureBgColor ?= #1e1e1e
/* right nav component */
$rightNavColor ?= #9a9a9a
$darkRightNavColor ?= #b9b9b9
/* top nav component */
$topNavColor ?= #212a32
$darkTopNavColor ?= #1e1e1e
/* custom block */
// danger block
$dangerBlockBgColor ?= #ffd8d8
$darkDangerBlockBgColor ?= darken(#ffd8d86e, 95%)
// info block
$infoBlockBgColor ?= #eff7ff
$darkInfoBlockBgColor ?= darken(#eff7ff6e, 95%)
// tip block
$tipBlockBgColor ?= #e0ffe4
$darkTipBlockBgColor ?= darken(#e0ffe46e, 95%)
// warn block
$warnBlockBgColor ?= #fff6e7
$darkWarnBlockBgColor ?= darken(#fff6e76e, 95%)




