{% if not classx %}
  {% set classx = "md-tabs__link" %}
  {% if nav_item.active %}
    {% set classx = classx ~ " md-tabs__link--active" %}
  {% endif %}
{% endif %}
{% if nav_item.children %}
  {% set title = title | d(nav_item.title) %}
  {% set nav_item = nav_item.children | first %}
  {% if nav_item.children %}
    {% include "partials/nav-item-for-header.html" %}
  {% else %}
    <li class="md-tabs__item">
      <a href="{{ nav_item.url | url }}" class="{{ classx }}">
        {{ title }}
      </a>
    </li>
  {% endif %}
{% else %}
  <li class="md-tabs__item">
    <a href="{{ nav_item.url | url }}" class="{{ classx }}">
      {{ nav_item.title }}
    </a>
  </li>
{% endif %}
