.md-tabs__link--active {
    font-weight: 600;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    font-weight: 600;
}

/*
* Footer styles
*/
.md-footer {
    /* background-color: var(--darkBack); */
}

.md-footer-nav__link {
    padding-top: 0.5rem;
}

.md-flex__ellipsis {
    font-size: 0.70rem;
}

.md-footer-nav__direction {
    font-size: 0.50rem;
}

.md-copyright {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer-copyright {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-copyright-left {
    flex: 1;
    font-size: 0.60rem;
}

.footer-copyright-right {
    font-size: 0.60rem;
}

/* Home page specific styles */
.section02 .linkWrapper {
    display: flex;
    flex-direction: row;
}

.linkSet2 {
    flex: 1;
    padding: 0 10px;
}

.homePage h2 {
    font-size: 1.2rem;
    border-bottom: 0;
    margin-top: -5px;
}

.homePage h3 {
    font-size: 1rem;
    border-bottom: 0;
    font-weight: 600;
}

.homePage h4 {
    margin: 0;
}

.fa-file-arrow-down {
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
}

.banner-link {
    background: var(--md-banner);
    display: inline-block;
}

.redoc-wrap {
    background-color: #fff;
}

.redoc-wrap .scrollbar-container {
    padding-bottom: 200px;
}

.md-header {
    background-color: var(--md-primary-bg-color);
}

.md-header__topic .md-ellipsis,
.md-header__source,
.md-header__option {
    color: var(--md-primary-heder-fg-color);
}

header>.md-grid,
.md-tabs>.md-grid,
.md-main>.md-grid,
.md-footer>.md-grid,
.md-footer-meta>.md-grid {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
}

header>.md-grid {
    padding-left: 30px;
}

.md-header__button.md-logo img {
    display: none;
}

.md-header__button.md-logo {
    background: var(--md-logo);
    display: inline-block;
    width: 67px;
    height: 26px;
}

.md-search__form:hover {
    background: #00000078;
}

.md-header__source {
    max-width: 125px;
    text-align: right;
}

.banner-link {
    background-size: 95%;
}

@media screen and (max-width: 76.1875em) {
    .md-nav--primary .md-nav__title .md-logo {
        display: none;
    }
}

/* Custom dropdown specific styles */

.md-header__version-select {
    overflow: visible;
    width: 3.5rem;
    margin-left: 1.5rem;
}

.md-header__version-select .md-tabs__link.md-tabs__dropdown-link {
    display: inline-block;
    padding: .45rem;
    margin-top: .35rem;
    border-radius: .1rem;
}

.md-header__version-select .mb-tabs__dropdown .mb-tabs__dropdown-content,
.md-header__distribution-select .mb-tabs__dropdown .mb-tabs__dropdown-content {
    background: #e2e2e2;
    opacity: 1;
}

.md-header__version-select .mb-tabs__dropdown .mb-tabs__dropdown-content {
    top: .6rem;
}
.mb-tabs__dropdown {
    position: relative;
}

.md-tabs__dropdown-link {
    display: contents;
}

.mb-tabs__dropdown.group-select {
    background-color: #737373;
}
.mb-tabs__dropdown .mb-tabs__dropdown-content {
    position: absolute;
    left: 0;
    top: 3.5em;
    -webkit-transition: all .2s cubic-bezier(.680, 0, .265, 1);
    transition: all .2s;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    transform-origin: top left;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .16), 0 2px 8px 0 rgba(0, 0, 0, .12);
    background: #fff;
    font-size: 1.4rem;
    color: #242424;
    padding: 0;
    z-index: 1;
}

.mb-tabs__dropdown .mb-tabs__dropdown-content .md-tabs__item {
    padding: 0;
}

.mb-tabs__dropdown .mb-tabs__dropdown-content li {
    display: block;
    width: 100%;
    opacity: 0;
    transform: translate(-20px, 0);
}

.mb-tabs__dropdown.open .mb-tabs__dropdown-content li {
    display: block;
    transition: all .4s;
    opacity: 1;
    transform: translate(0, 0);
    height: auto;
}

.mb-tabs__dropdown ul li a {
    width: 100%;
    padding: .5rem;
    white-space: pre;
    box-sizing: border-box;
    display: block;
    font-size: .7rem;
    text-transform: capitalize;
}

.mb-tabs__dropdown ul li a:hover {
    background: #ebebeb;
}

.mb-tabs__dropdown.open .mb-tabs__dropdown-content {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition-timing-function: cubic-bezier(.680, 0, .265, 1);
}
.md-header__version-select .md-tabs__link.md-tabs__dropdown-link {
    display: inline-block;
    padding: .45rem;
    margin-top: .35rem;
    border-radius: .1rem;
}

.md-header__version-select .md-tabs__link {
    color: var(--md-primary-fg-color-header-text-active);
}

.md-header__version-select .mb-tabs__dropdown .mb-tabs__dropdown-content,
.md-header__distribution-select .mb-tabs__dropdown .mb-tabs__dropdown-content {
    background: #e2e2e2;
    opacity: 1;
}

.md-header__version-select .mb-tabs__dropdown .mb-tabs__dropdown-content {
    top: .6rem;
}

.beta-badge {
    display: inline-block;
    background: #ffd600;
    font-size: 14px;
    padding: 5px;
    line-height: 1;
 }

/* End of custom dropdown specific styles */

/* The code block below hides the dropdown. Remove it after the next release. */
/* .mb-tabs__dropdown{
    display: none;
} */
