
:root {
    --md-primary-fg-color: #f47b20;
    --md-primary-fg-color--light: #ee9653;
    --md-primary-fg-color--dark: #303fa1;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: #ffffffb3;
    --md-accent-fg-color: #ffad6e;
    --md-accent-fg-color--transparent: #526cfe1a;
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: #ffffffb3;
    --md-banner: url(../img/apk-blog.png) no-repeat left top;
    --md-hjs-color: #00f;
}
:root {
    --md-text-font: 'Source Sans Pro', sans-serif;
    --md-code-font: 'Source Sans Pro', sans-serif;
}
/* colors for dark theme */
[data-md-color-scheme="slate"] {
    --md-primary-fg-color-header-background: #141414;
    --md-primary-fg-color-header: #212121;
    --md-primary-fg-color-header-text: #f5f6f7;
    --md-primary-fg-color-header-text-active: #d6ab8a;
    --md-default-bg-color: #222222;
    --md-typeset-a-color: #e8ca97;
    --md-banner: url(../img/apk-blog.png) no-repeat left top;
    --md-hjs-color: rgb(186, 186, 255);
    --md-logo: transparent url(../img/logo.svg) no-repeat left top;
}
/* colors for the light theme */
[data-md-color-scheme="default"] {
    --md-primary-fg-color-header-background: #f5f6f7;
    --md-primary-fg-color-header: #f5f6f7;
    --md-primary-fg-color-header-text: #1d1d1d;
    --md-primary-fg-color-header-text-active: #f47b20;
    --md-default-bg-color: #ffffff;
    --md-typeset-a-color: var(--md-primary-fg-color);
    --md-logo: transparent url(../img/logo-for-light.svg) no-repeat left top;
}
.md-tabs {
    background-color: var(--md-primary-fg-color-header);
    color: var(--md-primary-fg-color-header-text);
}
.md-tabs__link--active, .md-tabs__link:focus, .md-tabs__link:hover {
    color: var(--md-primary-fg-color-header-text-active);
}
.hljs-built_in, .hljs-keyword, .hljs-name, .hljs-selector-tag, .hljs-tag {
    color: var( --md-hjs-color);
}
.banner-link {
    width: 800px;
    height: 400px;
}
.md-header {
    background-color: var(--md-primary-fg-color-header-background) !important;
    color: var(--md-primary-fg-color-header-text) !important;
    border-top: solid 5px var(--md-primary-fg-color);
}
.md-header__button.md-logo img{
    display: none;
}
.md-header__button.md-logo {
    background: var(--md-logo);
    display: inline-block;
    width: 67px;
    height: 26px;
}